{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>To do WebApp</title>
    <link rel="stylesheet" href=" {% static 'style.css' %}" />

</head>
<body>

    <header>
        <h1>To Do App</h1>
    </header>

    <div class="container">

        <ul>
            {% for todo_item in all_items %}
                <li>{{ todo_item.content }}
                    <form action="/deleteTodo/{{todo_item.id}}/"method="post">{% csrf_token %}
                        <input type="submit"value="Delete"> 
                    </form>
                </li>
            {% endfor %}
        </ul>

        <form action="/addTodo/"method="post">{% csrf_token %}
            <input type="text" name="content">
            <input type="submit"value="Add"> 
        </form>
    </div>


    
</body>
</html>